/* Find Background Image */
.map {
  width: 600px;
  height: 800px;
  position: relative;
  background-image: url(Backery\ Background.jpg);
  font-size: 100px;
  text-align: center;
}

/*Style Character Below */
.character {
  width: 85px;
  height: 85px;
  background-image: url(Baker\ Character.png);
  position: relative;
}

/*Style Platform Below*/
.platform {
  width: 85px;
  height: 20px;
  background-image: url(Platform.jpg);
  position: absolute;
}

/*Style H1 Below */
